

#text-box {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

body {
  background-color: #2989cc;
}

.btn-channel{color:#ffffff;background-color:#515253;border-color:#000000;}
.btn-channel{font-size: 20px;border-radius: 40px 40px 40px 0px;font-weight: normal;font-weight: bold;font-weight: 900;}
.btn-channel{height: 50px;width: 150px;}
.btn-channel{-webkit-text-stroke: 0.3px black; text-shadow: -1px -1px 0 #000;}

var elmnt = document.getElementById("content");

function getFunction() {
  var x = elmnt.scrollWidth;
  var y = elmnt.scrollHeight;
}

function setFunction() {
  elmnt.style.height = y.scrollHeight + "px";
  elmnt.style.width = y.scrollWidth + "px";
} 
